.Nav {
    height: 70px;
    display: flex;
    align-items: left;
    font-size: calc(10px + 2vw);
    padding: 10px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-header {
    height: 40px;
    width: 347px;
    left: 36px;
    top: 360px;
    border-radius: nullpx;

}

.hero-para {
    height: 56px;
    width: 320px;
    left: 36px;
    top: 416px;
    border-radius: nullpx;
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

.hero-img {
    height: 232px;
    width: 395.906494140625px;
    left: 77px;
    top: 96px;
    border-radius: 8.949999809265137px;

}